<div class='main' id="main-content">
    <figure class="sticky" id="solar-canvas">
        <div class="yw_tooltip">
            <p id="tooltip_title"></p>
            <p id="tooltip_content"></p>
        </div>
    </figure>
    <article>
        <div class='step' data-width='10%' data-index='0'>
            <p>About 4.6 billion years ago, the Solar System formed and since became home to the sun, and eight planets: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune.
            </p>
        </div>
        <div class='step' data-width='90%' data-index='1'><p>The Sun is enormous -- it would take 1.3 million Earths to fill up the Sun.
            Earth is the third planet from the Sun and the only planet in the Universe known to harbor life.
            Please take really good care of it as its our only home.</p></div>
        <div class='step' data-width='50%' data-index='2'><p>
            Most of Earth's surface is covered with water which bestows it the charming blue, with plants adding green, and glaciers embellishing white.
            But only a tiny portion of the water is drinkable.</p></div>
        <div class='step' data-width='50%' data-index='3'>
            <p>
            One shall never feel along in this world -- about 7.6 billion humans live on this blue planet.
            Politically, the world has about 200 countries and each has its own culture.
            It is important to embrace divesity and celebrate differences.
            </p>
        </div>
        <div class='step' data-width='50%' data-index='4'><p>
            The U.S. habitats 300 million people which makes it the third largest country by <strong>population</strong>, behind China and India.
            Drag or rotate the earth to see comparisons between countries. The countries with orange bars have more than 100,000,000 residents.
        </p></div>
        <div class='step' data-width='50%' data-index='5'>
            <p>These bars visualized the <strong>GDP</strong> of each country and partially displayed the global inequality. Europe has the most countries with high GDP.
            The economy of the United States remains the largest in the world in terms of GDP.
            In fact, America's poor are among the world's wealthy.
            </p>
        </div>
        <div class='step' data-width='50%' data-index='6'>
            <p>Education is the key to everything that is good in our world today. With a 97.7% <strong>literacy</strong> rate, the U.S. is among the most educated countries.
                But the short bars show that there are many people, especially those in developing countries have no access to education.
            </p>
        </div>
        <div class='step' data-width='50%' data-index='7'>
            <p>Drag or rotate to explore the solar system.
            </p>
        </div>
        <!--{{#each copy.text}}-->
            <!--<div class='step' data-index={{id}}>-->
                <!--<p>{{{value}}}</p>-->
            <!--</div>-->
        <!--{{/each}}-->
        <div class="yw-footer">
            <p>
                Source: All these data are made up of data from the US government. It is downloaded from <a class="yw-link" target="_blank" href="https://www.kaggle.com/fernandol/countries-of-the-world/home">Kaggle</a>.<br/>
                This project is inspired by <a target="_blank" class="yw-link" href="https://globe.chromeexperiments.com/">Google Experiments</a>, <a target="_blank" class="yw-link" href="https://tutorialsforvr.com/solar-system-vr-tutorial/">Solar System in WebVR tutorial</a> and Will Su's <a target="_blank" class="yw-link" href="https://github.com/Jiahao01121/refugee-flow">refugee flow</a>. It was built with Russell Goldenberg's <a class="yw-link" target="_blank" href="https://github.com/the-pudding/starter">starter template</a>.<br/>
                Advisor: <a class="yw-link" target="_blank" href="https://twitter.com/MattCData">Matt Carroll</a>
            </p>
        </div>
    </article>

</div>