<div class='main' id="main-content">

    <div class="btns-container">
        <button class="btn btn-outline-warning" id="btn1">Reset</button>
        <button class="btn btn-outline-warning" id="btn2">Camera Two</button>
        <button class="btn btn-outline-warning" id="btn3">Camera Three</button>
    </div>
    <figure class="sticky" id="solar-canvas">
    </figure>
    <article>
        <div class='step' data-width='10%' data-index='0'><p>Solar System</p></div>
        <div class='step' data-width='90%' data-index='1'><p>Earth</p></div>
        <div class='step' data-width='50%' data-index='2'><p>Human</p></div>
    </article>

</div>