<div class='main' id="main-content">
    <figure class="sticky" id="solar-canvas">
    </figure>
    <article>
        <div class='step' data-width='10%' data-index='0'>
            <p>About 4.6 billion years ago, the Solar System formed and since became home to the sun, and eight planets: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune.
            </p>
        </div>
        <div class='step' data-width='90%' data-index='1'><p>Earth is the third planet from the Sun and the only planet in the Universe known to harbor life. Please take really good care of it as its our only home.</p></div>
        <div class='step' data-width='50%' data-index='2'><p>Most of Earth's surface is covered with water which bestows it the charming blue, with plants adding green, and glaciers embellishing white. But only a small portion is drinkable.</p></div>
        <div class='step' data-width='50%' data-index='3'><p>You shall never feel along in this world -- about 7.6 billion humans live on this blue planet. Politically, the world has about 200 countries.</p></div>
        <div class='step' data-width='50%' data-index='4'><p>Testing 1.</p></div>
        <div class='step' data-width='50%' data-index='5'><p>Testing 2.</p></div>
        <!--{{#each copy.text}}-->
            <!--<div class='step' data-index={{id}}>-->
                <!--<p>{{{value}}}</p>-->
            <!--</div>-->
        <!--{{/each}}-->
    </article>

</div>